@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:
linear-gradient(
135deg,
#ffffff,
#fff8f1
);

min-height:100vh;
}

.container{

display:flex;

min-height:100vh;
}

/* LEFT */

.left-panel{

width:40%;

background:
linear-gradient(
135deg,
#275060,
#356574
);

color:white;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

padding:60px;

text-align:center;
}

.left-panel img{

width:180px;

margin-bottom:20px;
}

.left-panel h1{

font-size:52px;
}

.left-panel span{

color:#F46B27;
}

.left-panel p{

margin-top:20px;

line-height:1.8;
}

.quote{

margin-top:35px;

padding:20px;

background:
rgba(255,255,255,.1);

border-radius:15px;
}

/* RIGHT */

.right-panel{

width:60%;

display:flex;

justify-content:center;
align-items:center;

padding:40px;
}

.payment-container{

width:100%;
max-width:900px;
}

.payment-container h2{

text-align:center;

margin-bottom:25px;

color:#275060;
}

.payment-card{

background:white;

padding:35px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);
}

.method-section{

margin-bottom:30px;
}

.method-section h3{

margin-bottom:15px;

color:#275060;
}

.logo-grid{

display:flex;

gap:15px;

flex-wrap:wrap;
}

.logo-box{

width:120px;
height:120px;

background:
#f8fafc;

border-radius:18px;

display:flex;

align-items:center;
justify-content:center;

text-decoration:none;

color:#275060;

font-weight:600;

transition:.3s;

cursor:pointer;
}

.logo-box:hover{

transform:translateY(-5px);

background:
linear-gradient(
135deg,
#F59A6E,
#F46B27
);

color:white;
}

@media(max-width:900px){

.container{

flex-direction:column;
}

.left-panel,
.right-panel{

width:100%;
}

}

.logo-box{
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-box img{
    width:80%;
    height:80%;
    object-fit:contain;
}